*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "rubik", sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    background-color: #4D2DB7;
    --text-color: white;
    --main-color: rgb(196, 196, 23);
    --big-font: 7rem;
    --p-font:1.1rem;

    }
    body{
        background-color: #4D2DB7;
        color: var(--p-font);
        overflow: hidden;

    }
    header{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        display: flex;    
        align-items: center;
        justify-content: space-between;
        padding: 32px 15%;
        background: transparent;
        transition: all ease .45s;

    }
    .logo{
        color: var(--text-color);
        font-size: 41px;
        font-weight: 600;

    }
    .logo span{
        color: rgb(173, 173, 34);
        font-style: oblique;
        font-weight: 10000;
    }
    .navbar{
        display: flex;

    }
    .navbar a{
        font-size: var(--p-font);
        font-weight: 500;
        color: var(--text-color);
        margin: 0 25px;
        transition: all ease;
    }
    .navbar a:hover{
        color: var(--main-color);

    }
    .menu-button{
        color: grey, 0% ;
        box-shadow: 0px 20px 40px black;
        border: 1px solid #3b3b3b;
        padding: 10 20px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    section{
        padding: 0 15%;
    }
    .home{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .home_image img{
        width: px;
        height: 20px;
        object-fit: contain;

    }
    .home_image img{
        width: 100%;
        height: 100%;
        
    }
    .main_button{
        font-size: var(--p-font);

    }
    .home_text h1{
        font-size: var(--big-font);
        margin: 23px 0px;

    }
    .home_text span{
        padding-left: 5 25px;
        background-color:;
        text-transform: uppercase;
        box-shadow: 0px 20px 40px #000000;
        border: 1px solid;
        font-weight: 700;
        color: var(--text-color);
        border-radius: 100px;
        font-size: 15px;
        padding-top: 15px;

    }
    .home_text p{
        font-size: var(--p-font);
        line-height: 30px;
        font-weight: 400;
        color: #c3c3c3;

    }
    .btn{
        font-size: 16px;
        background-color: var(--main-color) ;
        border-radius: 8px;
        font: var(--big-font);
        font-weight: 700;
        font-style: oblique;
        float: right;

    }
    .btn
